


{% extends "medecin_base.html" %}

{% block content %}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">{{ title }}</h3>
        <p>Adresse: {{ hopital.adresse }}</p>
        <p>Localisation: <a href="{{ hopital.localisation }}">{{ hopital.localisation }}</a></p>
        <a href="{% url 'update_hos' hopital.nom %}">Modifier</a>
        <a href="{% url 'delete_hos' hopital.nom %}">Supprimer</a>
    </div><!-- /.box-header -->
    <!-- form start -->
</div>

{% endblock %}
