{% extends "base.html" %}

{% block content %}
<!-- chat/room.html -->
    <h1>Chat Room: {{ room_name }}</h1>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>

    {% block script %}
    <script>
        $(document).ready(function() {
            const roomName = JSON.parse($('#room-name').text());
    
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/group/'
                + roomName
                + '/'
            );
    
            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                $('#chat-log').append(data.username + ': ' + data.message + '\n');
            };
    
            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
    
            $('#chat-message-input').focus();
            $('#chat-message-input').keyup(function(e) {
                if (e.keyCode === 13) {
                    $('#chat-message-submit').click();
                }
            });
    
            $('#chat-message-submit').click(function(e) {
                const message = $('#chat-message-input').val();
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': 'Anonymous'
                }));

                $('#chat-message-input').val('');
            });
        });
    </script>
    {% endblock script %}
{% endblock content %}