{% extends 'link.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block body %}
  <section class="forms-section">
    <div class="forms">
      <div class="form-wrapper is-active">
        <button type="button" class="switcher switcher-login">
          <a href="{% url "home" %}" class="nav-item" style="color: antiquewhite;">Home</a> | Login
          <span class="underline"></span>
        </button>
        {% if error %}
        <div class="alert alert-danger d-block m-auto">{{ error }}</div>
        {% endif %}
        <form class="form form-login" action="{% url "connex" %}" method="POST">
          {% csrf_token %}
          <fieldset>
            <legend>Please, enter your username and password for login.</legend>
            <div class="input-block">
              <label>Username</label>
              <input id="login-email" type="name" name="username" required />
            </div>
            <div class="input-block">
              <label>Password</label>
              <input id="login-password" type="password" name="password" required />
            </div>
          </fieldset>
          <button type="submit" class="btn">Login</button>
        </form>
      </div>
      <div class="form-wrapper">
        <button type="button" class="switcher switcher-signup">
          Sign Up
          <span class="underline"></span>
        </button>
        <form class="form form-signup" action="{% url "sign" %}" method="POST">
          {% csrf_token %}
          <fieldset>
            <legend>Please, enter your email, password and username confirmation for sign up.</legend>
            <div class="input-block">
              <label>E-mail</label>
              <input id="signup-email" type="email" name="email" required />
            </div>
            <div class="input-block">
              <label>Password</label>
              <input id="signup-password" type="password" name="password" required />
            </div>
            <div class="input-block">
              <label for="signup-password-confirm">Username</label>
              <input id="signup-password-confirm" type="text" name="username" required />
            </div>
          </fieldset>
          <button type="submit" class="btn">Continue</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}