{% extends 'pharmacien_base.html' %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pharmacie
        <small>Ajouter ma pharmacie</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url "home" %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">pharmacie</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Modifier ma Pharmacie</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- form start -->
                    <form role="form" action="{% url "update" %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom de la pharmacie</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                name="nom" value="{{ ph.nom }}">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="2" placeholder="Enter ..." name="description" value="{{ ph.description }}"></textarea>
                        </div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-danger" onclick="getLocation()">Trouvez ma position</button>
                            </div><!-- /btn-group -->
                            <input type="text" class="form-control" name="location" value="{{ ph.location }}" id="demo" placeholder="Ici">
                        </div><!-- /input-group -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div><!-- /.box-body -->

            </div><!-- /.box -->

        </div>
</section>
{% endblock %}

{% block script %}
<script>
    const x = document.getElementById("demo");
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
        x.value = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      x.value = position.coords.latitude + " " + position.coords.longitude;
    }
</script>
{% endblock %}